
font

{

.change

	 font-family: helvetica;
	font-size:20px;
	font-weight:;
	line-height:;
	line spacing:;

}

#first

{

	font-family: 'Open Sans', sans-serif;
}

#second
{
	font-family: 'Ubuntu', sans-serif;
}

#third
{
	font-family: 'Ubuntu', sans-serif;
}