

html
{
	display: block;
}

 #mypicture
{
	float:left;
}

h2
{
	color: blue;
}

body
{
	display:block;
	background-color: #eee;
}

h2 span {
        border-bottom:thick dotted #ff0000;
      }

      h2 {
    
    border-bottom: 5px solid black;
    
}

#page-wrap1

{
	width: 500px
	margin: 0 auto;
	padding: 20px;
	background: white;
}


#page-wrap2

{
	width: 90%
	margin: 0 auto;
	padding: 20px;
	background: white;
}


#main-col  {

	width:300px;
	float: left;
}

#sidebar  {
	width: 180px;
	float: right;
}

.clear  {
	clear: both;
}

